.textbox {
  padding: var(--space-sm);
  border-radius: var(--radius-lg);
  display: block;
  border: 1px solid var(--gray-text);
  outline: 1px solid var(--gray-text);

}

  
  .textbox-success {
    outline: 1px solid var(--color-success);
    border: 1px solid var(--color-success);
    color: var(--color-success);
  }
  .textbox-fail {
    outline: 1px solid var(--color-error);
    border: 1px solid var(--color-error);
    color: var(--color-error);
  }
