<!DOCTYPE html>
<html>
  <head>
    <title>Krozaro</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../krozaro.styles.min.css" />
    <link rel="stylesheet" href="../../../styles.css" />
    <link href="../../../prism/prism.css" rel="stylesheet" />
    <link rel="icon" href="../../img/favicon.ico" type="image/icon">
  </head>

  <body class="menuGrid">
<aside class="sidebar-container">
    
    <a href="../../../index.html" class="docs-logo">
        <img src="../../img/docs-logo.png"/>
    </a>

    <div class="sidebar">
      <li class="list-head">Getting Started</li> 
      <a href="../../../docs.html"><li>Introduction</li></a>
      <a href="../../../installation.html"> <li>Installation</li></a>
       <a href="../../../typo.html"> <li>Typography</li></a>
       <a href="../../../theme.html"> <li>Theme</li></a>
      
      <li class="list-head">UI Components</li>      
       <a href="../alert/alert.html"> <li>Alert</li></a>
      
      <a href="../avatar/avatar.html"><li> Avatar</li></a>
       <a href="../badge/badge.html"> <li>Badge</li></a>
       <a href="../button/button.html"> <li>Button</li></a>
       <a href="../card/card.html"> <li>Card</li></a>
       <a href="../grid/grid.html"> <li>Grid</li></a>
       <a href="../image/image.html"> <li>Image</li></a>
       <a href="../input/input.html"> <li>Input</li></a>
       <a href="../lists/lists.html"> <li>Lists</li></a>
       <a href="../modal/modal.html"> <li>Modal</li></a>
       <a href="../navigation/navigation.html"><li>Navigation</li></a>
       <a href="../rating/rating.html"> <li class="active">Rating</li></a>
       <a href="../toast/toast.html"> <li>Toast</li></a>
      </div>
</aside>
<main class="doc-main"> 
    <nav>
        <ul class="nav-group start">
          <li> <a href="../../../docs.html">Getting Started</a></li>
            <li class="nav-active"><a href="../avatar/avatar.html">UI Components</a></li>
        </ul>
        <ul class="nav-group end">
        <li><a href="https://github.com/shangkaul/krozaro_component_lib"><i class="icon icon-md fa fa-github"></i></a></li>
        <li></li>
    </ul>
    
    </nav>
    <div class="doc-content">
        <section class="component">
            <h1>Rating</h1>
          <p class="md"> A simple rating component used for rating objects, items as per your use case.
            The component has active/inactive stars which are toggled on click.
          </p>  
          </section>

            <section class="demo"><div class="flex-row">
              <div class="rating-container">
                <span id="star-1" class="star"><i class="fa fa-star"></i></span>
                <span id="star-2" class="star"><i class="fa fa-star"></i></span>
                <span id="star-3" class="star"><i class="fa fa-star"></i></span>
                <span id="star-4" class="star"><i class="fa fa-star"></i></span>
                <span id="star-5" class="star"><i class="fa fa-star"></i></span>

              </div></div>
              <div class="flex-row"><button id="rating-reset" class="btn">Reset</button></div>
          </section>

            <pre>
              <code class="language-html">
&lt;div class=&quot;rating-container&quot;&gt;
&lt;span id=&quot;star-1&quot; class=&quot;star&quot;&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span id=&quot;star-2&quot; class=&quot;star&quot;&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span id=&quot;star-3&quot; class=&quot;star&quot;&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span id=&quot;star-4&quot; class=&quot;star&quot;&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span id=&quot;star-5&quot; class=&quot;star&quot;&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div&gt;
              </code>
            </pre>
           <footer>
            <a class="prev" href="../navigation/navigation.html"> Navigation </a>
            <a class="next" href="../toast/toast.html"> Toast </a>
          </footer>
</div>
</main>
<script src="../../krozaro.js"></script>
<script src="../../../prism/prism.js"></script>
  </body>
  
</html>
