.badge {
    display: block;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: var(--space-xs);
    color: var(--white);
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    border: 0.3rem solid white;
    z-index: 999;
  }