<!DOCTYPE html>
<html>
  <head>
    <title>Krozaro</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../krozaro.styles.min.css" />

  </head>

  <body>
    <div class="container">
      <div class="avatar">
        <img src="https://picsum.photos/200" />
        <span class="badge">2</span>
      </div>
      <div class="icon">
        <i class="fa fa-camera"></i>
        <span class="badge">2</span>
      </div>
    </div>
  </body>
</html>
