.badge {
    display: block;
    font-size: 1rem;
    padding: var(--space-xs);
    color: var(--white);
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -0.4rem;
    right: -0.6rem;
    border: 0.3rem solid white;
    z-index: 999;
  }
  .badge-xl{
    width: var(--space-xl);
    height: var(--space-xl);
  }
  .badge-lg{
    width: var(--space-lg);
    height: var(--space-lg);
  }

  .badge-md{
     width: var(--space-md);
    height: var(--space-md);
  }

  .badge-sm{
     width: var(--space-sm);
    height: var(--space-sm);
    top: -0.5rem;
    right: -0.7rem;
  }

  .badge-xs{
     width: var(--space-xs);
    height: var(--space-xs);
    top: -0.7rem;
    right: -0.9rem;
  }

  .badge-inactive{
    background-color: var(--color-error);
  }
  .badge-active{
    background-color: var(--color-success);
  }