<!DOCTYPE html>
<html>
  <head>
    <title>Krozaro</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../krozaro.styles.min.css" />
    <link rel="stylesheet" href="../../../styles.css" />
    <link href="../../../prism/prism.css" rel="stylesheet" />
    <link rel="icon" href="../../img/favicon.ico" type="image/icon">
  </head>

  <body class="menuGrid">
<aside class="sidebar-container">
    
    <a href="../../../index.html" class="docs-logo">
        <img src="../../img/docs-logo.png"/>
    </a>

    <div class="sidebar">
<li class="list-head">Getting Started</li> 
<a href="../../../docs.html"><li>Introduction</li></a>
<a href="../../../installation.html"> <li>Installation</li></a>
 <a href="../../../typo.html"> <li>Typography</li></a>
 <a href="../../../theme.html"> <li>Theme</li></a>

<li class="list-head">UI Components</li>      
 <a href="../alert/alert.html"> <li>Alert</li></a>

<a href="../avatar/avatar.html"><li> Avatar</li></a>
 <a href="../badge/badge.html"> <li>Badge</li></a>
 <a href="../button/button.html"> <li>Button</li></a>
 <a href="../card/card.html"> <li>Card</li></a>
 <a href="../grid/grid.html"> <li class="active">Grid</li></a>
 <a href="../image/image.html"> <li>Image</li></a>
 <a href="../input/input.html"> <li>Input</li></a>
 <a href="../lists/lists.html"> <li>Lists</li></a>
 <a href="../modal/modal.html"> <li>Modal</li></a>
 <a href="../navigation/navigation.html"><li>Navigation</li></a>
 <a href="../rating/rating.html"> <li>Rating</li></a>
 <a href="../toast/toast.html"> <li>Toast</li></a>
</div>
</aside>
<main class="doc-main"> 
    <nav>
        <ul class="nav-group start">
          <li> <a href="../../../docs.html">Getting Started</a></li>
            <li class="nav-active"><a href="../avatar/avatar.html">UI Components</a></li>
        </ul>
        <ul class="nav-group end">
        <li><a href="https://github.com/shangkaul/krozaro_component_lib"><i class="icon icon-md fa fa-github"></i></a></li>
        <li></li>
    </ul>
    
    </nav>
    <div class="doc-content">
        <section class="component">
            <h1>Grid</h1>
          <p class="md"> Krozaro provides you with a powerful grid component for building custom layouts. The krozaro grid has 2 variants, simple
              2 col grid and the 3 col grid. 
          </p>  
          </section>

          <section class="component">
            <h2>Grid with 2 equal items</h2>
            <section class="demo">
              <div class="grid">
                <div class="grid-item">
                    Section 1
                </div>
                <div class="grid-item">
                    Section 2
                </div>
              </div>
            </section>
          </section>
<pre>
  <code class="language-html">
&lt;div class=&quot;grid&quot;&gt;
&lt;div class=&quot;grid-item&quot;&gt;
    Section 1
&lt;/div&gt;
&lt;div class=&quot;grid-item&quot;&gt;
    Section 2
&lt;/div&gt;
&lt;/div&gt;
  </code>
</pre>

<section class="component">
    <h2>Sid-menu Grid</h2>
    <section class="demo">
      <div class="grid grid-sidemenu">
        <div class="grid-item">
            Menu
        </div>
        <div class="grid-item">
            Content
        </div>
      </div>
    </section>
  </section>
<pre>
<code class="language-html">
&lt;div class=&quot;grid grid-sidemenu&quot;&gt;
&lt;div class=&quot;grid-item&quot;&gt;
Menu
&lt;/div&gt;
&lt;div class=&quot;grid-item&quot;&gt;
Content
&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

<section class="component">
    <h2>Grid with 3 equal items</h2>
    <section class="demo">
      <div class="grid grid-3">
        <div class="grid-item">
            Section 1
        </div>
        <div class="grid-item">
            Section 2
        </div>
        <div class="grid-item">
            Section 3
        </div>
      </div>
    </section>
  </section>
<pre>
<code class="language-html">
&lt;div class=&quot;grid&quot;&gt;
&lt;div class=&quot;grid-item&quot;&gt;
Section 1
&lt;/div&gt;
&lt;div class=&quot;grid-item&quot;&gt;
Section 2
&lt;/div&gt;
&lt;div class=&quot;grid-item&quot;&gt;
Section 3
&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
           <footer>
            <a class="prev" href="../card/card.html"> Card </a>
            <a class="next" href="../image/image.html"> Image </a>
          </footer>
</div>
</main>
<script src="../../../prism/prism.js"></script>
  </body>
  
</html>

