<!DOCTYPE html>
<html>
  <head>
    <title>Krozaro</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../krozaro.styles.min.css" />
    <link rel="stylesheet" href="../../../styles.css" />
    <link href="../../../prism/prism.css" rel="stylesheet" />
    <link rel="icon" href="../../img/favicon.ico" type="image/icon">
  </head>

  <body class="menuGrid">
<aside class="sidebar-container">
    
    <a href="../../../index.html" class="docs-logo">
        <img src="../../img/docs-logo.png"/>
    </a>

    <div class="sidebar">
      <li class="list-head">Getting Started</li> 
      <a href="../../../docs.html"><li>Introduction</li></a>
      <a href="../../../installation.html"> <li>Installation</li></a>
       <a href="../../../typo.html"> <li>Typography</li></a>
       <a href="../../../theme.html"> <li>Theme</li></a>
      
      <li class="list-head">UI Components</li>      
       <a href="../alert/alert.html"> <li>Alert</li></a>
      
      <a href="../avatar/avatar.html"><li> Avatar</li></a>
       <a href="../badge/badge.html"> <li>Badge</li></a>
       <a href="../button/button.html"> <li>Button</li></a>
       <a href="../card/card.html"> <li>Card</li></a>
       <a href="../grid/grid.html"> <li>Grid</li></a>
       <a href="../image/image.html"> <li>Image</li></a>
       <a href="../input/input.html"> <li>Input</li></a>
       <a href="../lists/lists.html"> <li>Lists</li></a>
       <a href="../modal/modal.html"> <li>Modal</li></a>
       <a href="../navigation/navigation.html"><li class="active">Navigation</li></a>
       <a href="../rating/rating.html"> <li>Rating</li></a>
       <a href="../toast/toast.html"> <li>Toast</li></a>
      </div>
</aside>
<main class="doc-main"> 
    <nav>
        <ul class="nav-group start">
          <li> <a href="../../../docs.html">Getting Started</a></li>
            <li class="nav-active"><a href="../avatar/avatar.html">UI Components</a></li>
        </ul>
        <ul class="nav-group end">
        <li><a href="https://github.com/shangkaul/krozaro_component_lib"><i class="icon icon-md fa fa-github"></i></a></li>
        <li></li>
    </ul>
    
    </nav>
    <div class="doc-content">
        <section class="component">
            <h1>Navigation</h1>
          <p class="md"> The navigation component is built on flexbox to provide a strong foundation for building all types of navigation components.
            It contains left/right list items and icons/text tabs.
          </p>  
          </section>
<h2>Demo</h2>
            <section class="demo"><div class="flex-row">
              <nav>
                <ul class="nav-group start">
                  <li> <a href="#">Tab 1</a></li>
                    <li class="nav-active"><a href="#">Tab Active</a></li>
                </ul>
                <ul class="nav-group end">
                <li><a href="#"><i class="icon icon-md fa fa-github"></i></a></li>
                <li><a href="#"><i class="icon icon-md fa fa-github"></i></a></li>
                <li></li>
            </ul>
            
            </nav>
          </section>
           <h2>HTML</h2>
            <pre>
              <code class="language-html">
&lt;nav&gt;
&lt;ul class=&quot;nav-group start&quot;&gt;
&lt;li&gt; &lt;a href=&quot;#&quot;&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;nav-active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Tab Active&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class=&quot;nav-group end&quot;&gt;
&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon icon-md fa fa-github&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon icon-md fa fa-github&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/nav&gt;
              </code>
            </pre>

           <footer>
            <a class="prev" href="../modal/modal.html"> Modal </a>
            <a class="next" href="../rating/rating.html"> Rating </a>
          </footer>
</div>
</main>
<script src="../../../prism/prism.js"></script>
  </body>
  
</html>
