<!DOCTYPE html>
<html>
  <head>
    <title>Krozaro</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>
    <!-- card with badge -->
    <div class="card card-badge">
      <span class="badge">X</span>
      <div class="card-title">Hello world</div>
      <div class="card-img">
        <img src="https://picsum.photos/640/400" />
      </div>
      <div class="card-content">
        lorem ipsum dolor set imaat. lorem ipsum dolor set imaat. lorem ipsum
        dolor set imaat
      </div>
      <div class="card-footer">
        <span>like</span><span>comment</span>
        <div class="icon-bar">
          <i class="fa fa-heart"></i><i class="fa fa-share-alt"></i
          ><i class="fa fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
    <!-- only text card -->
    <div class="card">
      <span class="badge">X</span>
      <div class="card-title">Hello world</div>
      <div class="card-img">
        <img src="https://picsum.photos/640/400" />
      </div>
      <div class="card-content">
        lorem ipsum dolor set imaat. lorem ipsum dolor set imaat. lorem ipsum
        dolor set imaat
      </div>
      <div class="card-footer">
        <span>like</span><span>comment</span>
        <div class="icon-bar">
          <i class="fa fa-heart"></i><i class="fa fa-share-alt"></i
          ><i class="fa fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
    <!-- img card -->
    <div class="card img-card">
      <span class="badge">X</span>
      <div class="card-title">Hello world</div>
      <div class="card-img">
        <img src="https://picsum.photos/640/400" />
      </div>
      <div class="card-content">
        lorem ipsum dolor set imaat. lorem ipsum dolor set imaat. lorem ipsum
        dolor set imaat
      </div>
      <div class="card-footer">
        <span>like</span><span>comment</span>
        <div class="icon-bar">
          <i class="fa fa-heart"></i><i class="fa fa-share-alt"></i
          ><i class="fa fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
  </body>
</html>
