<!DOCTYPE html>
<html>
  <head>
    <title>Krozaro</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../krozaro.styles.min.css" />
    <link rel="stylesheet" href="../../../styles.css" />
    <link href="../../../prism/prism.css" rel="stylesheet" />
    <link rel="icon" href="../../img/favicon.ico" type="image/icon">
  </head>

  <body class="menuGrid">
<aside class="sidebar-container">
    
    <a href="../../../index.html" class="docs-logo">
        <img src="../../img/docs-logo.png"/>
    </a>

    <div class="sidebar">
<li class="list-head">Getting Started</li> 
<a href="../../../docs.html"><li>Introduction</li></a>
<a href="../../../installation.html"> <li>Installation</li></a>
 <a href="../../../typo.html"> <li>Typography</li></a>
 <a href="../../../theme.html"> <li>Theme</li></a>

<li class="list-head">UI Components</li>      
 <a href="../alert/alert.html"> <li>Alert</li></a>

<a href="../avatar/avatar.html"><li class="active"> Avatar</li></a>
 <a href="../badge/badge.html"> <li>Badge</li></a>
 <a href="../button/button.html"> <li>Button</li></a>
 <a href="../card/card.html"> <li>Card</li></a>
 <a href="../grid/grid.html"> <li>Grid</li></a>
 <a href="../image/image.html"> <li>Image</li></a>
 <a href="../input/input.html"> <li>Input</li></a>
 <a href="../lists/lists.html"> <li>Lists</li></a>
 <a href="../modal/modal.html"> <li>Modal</li></a>
 <a href="../navigation/navigation.html"><li>Navigation</li></a>
 <a href="../rating/rating.html"> <li>Rating</li></a>
 <a href="../toast/toast.html"> <li>Toast</li></a>
</div>
</aside>
<main class="doc-main"> 
    <nav>
        <ul class="nav-group start">
          <li> <a href="../../../docs.html">Getting Started</a></li>
            <li class="nav-active"><a href="../avatar/avatar.html">UI Components</a></li>
        </ul>
        <ul class="nav-group end">
        <li><a href="https://github.com/shangkaul/krozaro_component_lib"><i class="icon icon-md fa fa-github"></i></a></li>
        <li></li>
    </ul>
    
    </nav>
    <div class="doc-content">
        <section class="component">
            <h1>Avatar</h1>
          <p class="md"> Avatars are circular components used to wrap an image or an icon. They can be used to represent a person or an object.
          </p>  
          </section>

          <section class="component">
            <h2>Default Color Theme</h2>
            <section class="demo">
              <div class="color-block" style="background-color: var(--color-primary);">
             Primary Color
              </div>
              <div class="color-block" style="background-color: var(--gray-text);">
                Gray Text
                 </div>
                 <div class="color-block" style="background-color: var(--gray-1);color:var(--gray-text);">
                  Gray-1 (backgrounds)
                   </div>
                   <div class="color-block" style="background-color: var(--color-success);">
                    Success
                     </div>
                     <div class="color-block" style="background-color: var(--color-error);">
                      Error
                       </div>
                       <div class="color-block" style="background-color: var(--color-warning); color:var(--gray-text);">
                        Warning
                         </div>
            </section>
          </section>

           <footer>
            <a class="prev" href="../../../theme.html"> Theme </a>
            <a class="next" href="../alert/alert.html"> UI Components </a>
          </footer>
</div>
</main>
<script src="../../../prism/prism.js"></script>
  </body>
  
</html>

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Krozaro</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../krozaro.styles.min.css" />

  </head>

  <body>
    <div class="avatar"><img src="https://picsum.photos/100" /></div>
  </body>
</html> -->
