/* ------------utilities start */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Roboto+Condensed&display=swap");

/* -----typography---------- */
:root {
  --font-primary: Roboto, sans-serif;
  --font-secondary: Montserrat, sans-serif;

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
  --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-lg: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  /* colors */
  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;

  --black: #1d1d21;
  --gray-10: #2e2e31;
  --gray-6: #7b7a7d;
  --gray-4: #a5a5a6;
  --gray-3: #bbbbbc;
  --gray-2: #d1d0d2;
  --gray-1: #e8e7e8;
  --white: white;

  /* spacing */
  --space-unit: 1em;
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}
* {
  box-sizing: border-box;
  padding: var(--space-xs);
}

/* ------------utility end-------- */
/* nav {
  display: flex;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  padding: 1em;
}

.logo {
  font-size: 2em;
  font-weight: 600;
  margin-right: auto;
}

.navList {
  display: flex;
  justify-content: space-around;
  width: 30vw;
} */
