/* ------------utilities start */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Roboto+Condensed&display=swap");

/* -----typography---------- */
:root {
  --font-primary: Roboto, sans-serif;
  --font-secondary: Montserrat, sans-serif;

  /* set base values */
  font-size: 16px;
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
  --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-lg: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  /* colors */
  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;

  --black: #1d1d21;
  --gray-10: #2e2e31;
  --gray-6: #7b7a7d;
  --gray-4: #a5a5a6;
  --gray-3: #bbbbbc;
  --gray-2: #d1d0d2;
  --gray-1: #e8e7e8;
  --white: white;
  --btn-active: #1e58ff;

  --color-primary: dodgerblue;

  /* spacing */
  --space-unit: 1em;
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
}
.btn {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;

  padding: var(--space-sm);
  border-radius: 5px;
  border: 0;
  font-size: var(--text-base-size);
  color: white;
  margin: var(--space-xs);
  background-color: var(--color-primary);
  cursor: pointer;
  transition: 0.2s;
}
.btn > .icon {
  /* icon inherits color of button label */
  color: inherit;
  flex-shrink: 0;
  font-size: var(--text-base-size);
  margin: 0;
  /* margin-right: var(--space-xs); */
}
.btn:hover {
  background-color: var(--btn-active);
}
.link-btn:hover {
  text-decoration: underline;
}
.btn-full-width {
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn-link {
  background-color: transparent;
  color: blue;
}
.btn-link:hover {
  background-color: transparent;
}
.btn-float {
  position: fixed;
  bottom: 0;
  right: var(--space-sm);
}
/* btn end */
body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
  max-width: 1200px;
  margin: auto;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------utility end-------- */
/*---- components start ------ */
.avatar {
  position: relative;
  width: 6rem;
  height: 6rem;
  padding: 0;
}

.avatar > img {
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0;
}
.container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: var(--space-sm);
  background-color: white;
  border-radius: 5px;
  margin: var(--space-md);
  padding: var(--space-sm);
  overflow: hidden;
}
.alert {
  position: absolute;
  width: 50vw;
  z-index: 1;
  left: 0;
  right: 0;
  top: 25%;
  margin: 0 auto;
  max-width: 20rem;
  box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
}

.container-title {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: var(--text-md);
  padding: var(--space-sm);
}
.container-content,
.container-footer {
  padding: var(--space-sm);
}
.icon {
  /* font-size: var(--text-lg); */
  font-size: 6rem;
  width: fit-content;
  position: relative;
}
.badge {
  display: block;
  font-size: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: var(--space-xs);
  color: var(--white);
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border: 0.3rem solid white;
}

/* --------textbox---------- */
.textbox {
  padding: var(--space-sm);
  border-radius: 5px;
  display: block;
  margin: var(--space-sm);
}

.textbox:focus {
  outline: none;
}

.textbox-success {
  outline: 1px solid var(--color-success);
  border: 1px solid var(--color-success);
  color: var(--color-success);
}
.textbox-fail {
  outline: 1px solid var(--color-error);
  border: 1px solid var(--color-error);
  color: var(--color-error);
}

/* -------------img------------- */
img {
  inline-size: 100%;
  block-size: auto;
}
.img-round {
  border-radius: 50%;
  aspect-ratio: 1;
}
/* nav {
  display: flex;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  padding: 1em;
}

.logo {
  font-size: 2em;
  font-weight: 600;
  margin-right: auto;
}

.navList {
  display: flex;
  justify-content: space-around;
  width: 30vw;
} */
