<!DOCTYPE html>
<html>
  <head>
    <title>Krozaro</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../krozaro.styles.min.css" />
    <link rel="stylesheet" href="../../../styles.css" />
    <link href="../../../prism/prism.css" rel="stylesheet" />
    <link rel="icon" href="../../img/favicon.ico" type="image/icon">
  </head>

  <body class="menuGrid">
<aside class="sidebar-container">
    
    <a href="../../../index.html" class="docs-logo">
        <img src="../../img/docs-logo.png"/>
    </a>

    <div class="sidebar">
<li class="list-head">Getting Started</li> 
<a href="../../../docs.html"><li>Introduction</li></a>
<a href="../../../installation.html"> <li>Installation</li></a>
 <a href="../../../typo.html"> <li>Typography</li></a>
 <a href="../../../theme.html"> <li>Theme</li></a>

<li class="list-head">UI Components</li>      
 <a href="../alert/alert.html"> <li>Alert</li></a>

<a href="../avatar/avatar.html"><li> Avatar</li></a>
 <a href="../badge/badge.html"> <li>Badge</li></a>
 <a href="../button/button.html"> <li>Button</li></a>
 <a href="../card/card.html"> <li>Card</li></a>
 <a href="../grid/grid.html"> <li>Grid</li></a>
 <a href="../image/image.html"> <li class="active">Image</li></a>
 <a href="../input/input.html"> <li>Input</li></a>
 <a href="../lists/lists.html"> <li>Lists</li></a>
 <a href="../modal/modal.html"> <li>Modal</li></a>
 <a href="../navigation/navigation.html"><li>Navigation</li></a>
 <a href="../rating/rating.html"> <li>Rating</li></a>
 <a href="../toast/toast.html"> <li>Toast</li></a>
</div>
</aside>
<main class="doc-main"> 
    <nav>
        <ul class="nav-group start">
          <li> <a href="../../../docs.html">Getting Started</a></li>
            <li class="nav-active"><a href="../avatar/avatar.html">UI Components</a></li>
        </ul>
        <ul class="nav-group end">
        <li><a href="https://github.com/shangkaul/krozaro_component_lib"><i class="icon icon-md fa fa-github"></i></a></li>
        <li></li>
    </ul>
    
    </nav>
    <div class="doc-content">
        <section class="component">
            <h1>Image</h1>
          <p class="md"> Images are an important aspect of any UI design. Krozaro provides you with an image component
            that can help quickly add responsive images that render as per device resolution.
          </p>  
          </section>

          <section class="component">
            <h2>Responsive Image</h2>
            <p class="md"> This image is both responsive and also resizes itself as per the size of the parent container.</p>
            <section class="demo">
              <div class="flex-col">
                <img src="https://picsum.photos/900/200" />

              </div>
            </section>
          </section>
<pre>
  <code class="language-html">
&lt;img src=&quot;https://picsum.photos/900/200&quot; /&gt;                       
  </code>
</pre>

<section class="component">
    <h2>Square Image</h2>
    <section class="demo">
      <div class="flex-col">
        <img class="img-square" src="https://picsum.photos/900/600" />
        
      </div>
    </section>
  </section>
<pre>
<code class="language-html">
&lt;img class=&quot;img-square&quot; src=&quot;https://picsum.photos/900/600&quot; /&gt;
</code>
</pre>

<section class="component">
    <h2>Grid with 3 equal items</h2>
    <section class="demo">
      <div class="flex-col">
      <img class="img-round" src="https://picsum.photos/900/600" />
        
      </div>
    </section>
  </section>
<pre>
<code class="language-html">
  &lt;img class=&quot;img-round&quot; src=&quot;https://picsum.photos/900/600&quot; /&gt;
</code>
</pre>
           <footer>
            <a class="prev" href="../card/card.html"> Card </a>
            <a class="next" href="../image/image.html"> Image </a>
          </footer>
</div>
</main>
<script src="../../../prism/prism.js"></script>
  </body>
  
</html>


<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Krozaro</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../krozaro.styles.min.css" />

  </head>
  <body>
    <div class="container">
      <img src="https://picsum.photos/1920/1080" />
    </div>
    <div class="container">
      <img class="img-round" src="https://picsum.photos/1920/1080" />
    </div>
  </body>
</html> -->
