<!DOCTYPE html>
<html>
  <head>
    <title>Krozaro</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../krozaro.styles.min.css" />

  </head>
  <body>
    <div class="container">
      <img src="https://picsum.photos/1920/1080" />
    </div>
    <div class="container">
      <img class="img-round" src="https://picsum.photos/1920/1080" />
    </div>
  </body>
</html>
